nav {
  background-color: #acd373;
  height: 106px;
  line-height: 106px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav img {
  vertical-align: middle;
}
nav a {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 18px;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 14px;
}
nav a:hover {
  text-decoration: underline;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
.right {
  float: right;
}

header {
  text-align: center;
  height: 700px;
  background-color: #9abd67;
  background-image: url("../img/skyline.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
header h1 {
  padding-top: 230px;
  color: #f7f7f7;
  font-size: 48px;
  font-family: "Source Sans Pro";
  font-weight: bold;
}
header h2 {
  margin-top: 30px;
  font-size: 24px;
  font-family: "DroidSerif";
  font-style: italic;
  color: #f7f7f7;
}
header a {
  margin-top: 132px;
  display: block;
}
.who {
  padding: 90px 0;
  font-family: "Source Sans Pro";
  color: #454545;
}
.who h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.who h3 img {
  margin-right: 20px;
  vertical-align: middle;
}
.who p {
  font-size: 18px;
}
.who p + p {
  margin-top: 30px;
}
a.learn {
  border: 1px solid #acd373;
  color: #acd373;
  font-family: "DroidSerif";
  font-style: italic;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin-top: 45px;
}
.who .container div {
  width: 769px;
  display: inline-block;
  vertical-align: top;
}
.who .container > img {
  display: inline-block;
  margin-left: 140px;
}

.video {
  background: url('../img/video-bg.jpg') no-repeat top center;
  height: 523px;
  line-height: 523px;
  text-align: center;
}
.video img {
  vertical-align: middle;
}

.services {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.services h3 {
  text-align: center;
  font-size: 30px;
  color: #454545;
  font-family: "Source Sans Pro";
}
.services h3 span {
  color: #acd373;
}
.services .container > p {
  font-size: 18px;
  color: #454545;
  text-align: center;
  margin-top: 20px;
}
.services hr {
  margin-top: 20px;
/*  margin-bottom: 90px;*/
  border: none;
  height: 10px;
  background: url('../img/hr-dark.png') no-repeat center center;
}
.services .icon {
  width: 75px;
  height: 78px;
  margin-right: 15px;
  background-position: top center;
  background-repeat: no-repeat;
}
.services li {
  margin-top: 84px;
  text-align: left;
}
.services li,
.services li div {
  display: inline-block;
  vertical-align: top;
}
.services li div + div {
  width: 280px;
}
.services li h4 {
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  color: #acd373;
  text-transform: uppercase;
}
.services li p {
  font-size: 18px;
  color: #444444;
  font-family: "Source Sans Pro";
  margin-top: 18px;
  line-height: 1.25em;
}
.services li:nth-of-type(1) .icon {
  background-image: url('../img/services1.png');
}
.services li:nth-of-type(2) .icon {
  background-image: url('../img/services2.png');
}
.services li:nth-of-type(3) .icon {
  background-image: url('../img/services3.png');
}
.services li:nth-of-type(4) .icon {
  background-image: url('../img/services4.png');
}
.services li:nth-of-type(5) .icon {
  background-image: url('../img/services5.png');
}
.services li:nth-of-type(6) .icon {
  background-image: url('../img/services6.png');
}


.ourTeam {
  background: #acd373;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
}
.ourTeam h3 {
  font-family: "Source Sans Pro";
  font-size: 30px;
}
.ourTeam p {
  font-family: "DroidSerif";
  font-size: 18px;
  margin-top: 20px;
}
.ourTeam hr {
  border: none;
  height: 10px;
  margin-top: 18px;
  background: url('../img/hr-light.png') no-repeat center center;
}
.ourTeam ul {
  margin-top: 45px;
}
.ourTeam li {
  margin: 70px 15px 0 15px;
  background: #ffffff;
  text-align: center;
  width: 270px;
  height: 247px;
  position: relative;
  border-radius: 3px;
  display: inline-block;
}
.ourTeam li:first-of-type {
  margin-left: 0;
}
.ourTeam li:last-of-type {
  margin-right: 0;
}
.ourTeam li > img {
  margin-top: -70px;
  border-radius: 50%;
  border: 5px solid #acd373;
}
.ourTeam li h5 {
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #acd373;
  margin-top: 15px;
}
.ourTeam li em {
  font-family: "DroidSerif";
  font-style: italic;
  font-size: 16px;
  color: #787878;
  margin-top: 9px;
  display: block;
}
.ourTeam li div {
  height: 70px;
  background: #ebebeb;
  line-height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ourTeam li div img {
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 4px;
}

.testimonials {
  padding-top: 120px;
  padding-bottom: 109px;
  color: #f7f7f7;
  font-family: "Source Sans Pro";
  background: url('../img/testimonials-bg.jpg') no-repeat center center;
}
.testimonials .container > * {
  display: inline-block;
  vertical-align: top;
}
.testimonials .container > div {
  width: 298px;
}
.testimonials h3 {
  font-size: 30px;
  text-transform: uppercase;
}
.testimonials p {
  font-size: 18px;
  margin-top: 37px;
  line-height: 1.25em;
}
.testimonials ul {
  margin-left: 90px;
}
.testimonials li {
  display: inline-block;
  vertical-align: top;
  width: 370px;
}
.testimonials li:first-of-type {
  margin-right: 31px;
}
.testimonials li img {
  border-radius: 50%;
  display: inline-block;
}
.testimonials li div {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 18px;
  color: #acd373;
  margin-left: 28px;
  vertical-align: top;
  padding-top: 27px;
}
.testimonials li a {
  margin-top: 17px;
  display: block;
  font-family: "DroidSerif";
  font-style: italic;
  color: #f7f7f7;
  text-decoration: none;
  font-weight: normal;
}
.testimonials blockquote {
  background: url('../img/testimonial-bg.png') no-repeat top center;
  padding-top: 26px;
  padding-left: 13px;
  padding-right: 21px;
  height: 118px;
  line-height: 1.25em;
  margin-bottom: 17px;
}