nav {
    background-color: #acd373;
    height: 106px;
    line-height: 106px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
nav img {
    vertical-align: middle;
}
nav a {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 14px;
}
nav a:hover {
    text-decoration: underline;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.right {
    float: right;
}

header {
    text-align: center;
    height: 700px;
    background-color: #9abd67;
    background-image: url("img/skyline.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}
header h1 {
    padding-top: 230px;
    color: #f7f7f7;
    font-size: 48px;
    font-family: "Source Sans Pro";
    font-weight: bold;
}
header h2 {
    margin-top: 30px;
    font-size: 24px;
    font-family: "DroidSerif";
    font-style: italic;
    color: #f7f7f7;
}
header a {
    margin-top: 132px;
    display: block;
}